*::before,*::after {
    box-sizing: border-box;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

body{
    margin: 0;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 3rem 1rem;
    padding:3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}
.video-section:first-child{
    border-top: none;
}

.video-container{
    flex-direction:column;
    display: flex;
}
.thumbnail{
    position: relative;
    display: flex;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    padding: .1em .3em;
    font-size: .9rem;
    border-radius: .3em;
}
